
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.body::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(/src/img/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.body::after {
  content: '';
  position: absolute;
  inset: 0;
  background: url(/src/img/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 0.5s;
}
.body.signup::after {
  opacity: 1;
}
.container {
  position: relative;
  width: 350px;
  height: 390px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 0.3s;
  overflow: hidden;
}
.signup .container {
  height: 440px;
}
.container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
}
.body.signup .container::before {
  filter: hue-rotate(140deg);
}

.container span {
  position: absolute;
  inset: 5px;
  overflow: hidden;
  border-radius: 15px;
}
.container span::before {
  content: '';
  position: absolute;
  inset: 5px;
  background: url(/src/img/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
.container span::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: url(/src/img/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
}
body.signup .container span::before,
body.signup .container span::after {
  background: url(/src/img/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
}
form {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  transition: 0.5s;
}
form#signupForm {
  left: 100%;
}
body.signup form#signinForm {
  left: -100%;
}
body.signup form#signupForm {
  left: 0;
}
form h2 {
  position: relative;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2px;
}
form .inputBox {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: space-between;
}
form .inputBox a {
  color: #fff;
  text-decoration: none;
  font-size: 0.85em;
}
form .inputBox a:nth-child(2) {
  text-decoration: underline;
}
.group a{
  display: flex;
  justify-self: center;
}
form .inputBox input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.15);
  padding: 6px 15px;
  border-radius: 4px;
  font-size: 0.85em;
  color: #fff;
}
form .inputBox input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
form .inputBox input[type="submit"] {
  background: #b2872b;
  font-weight: 500;
  cursor: pointer;
}
form .inputBox input[type="submit"]:hover {
  background: #a57b20;
}
form#signupForm .inputBox input[type="submit"] {
  background: #a07822;
}
form#signupForm b {
  font-weight: 500;
  text-decoration: underline;

}
