.authorSelect {
  position: relative;
  width: 100%;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 100px; /* Фиксированная высота для 3-4 опций */
  overflow-y: auto;   /* Скролл для превышения количества опций */
  z-index: 1000;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}
